<nav>
	<ul>
		<li class="name">Name</li>
		<li class="options"><p>Option 1</p></li>
		<li class="options"><p>Option 2</p></li>
		<li class="options"><p>Option 3</p></li>
		<li class="options"><p>Option 4</p></li>
	</ul>
</nav>

@code {

}
