@page "/employee"

<h3>Employee</h3>

<!--
	Si quieren agregar otros links:
	1.- Denle segundo click a la carpeta Pages
	2.- Click en add -> Razor component
	3.- Cambiar el nombre antes del .razor a uno que le quieran poner
	4.- Darle click a agregar o add
	5.- Y listo, recuerden agreagar el arroba page (lo que esta en la linea 1) eso hace referencia al link de la pagina
-->

@code {

}
