@page "/"

<PageTitle>Home</PageTitle>

<h1>HOMES</h1>

<a href="/login">Dame un click para ir al login</a>

<h1>Tareas para Valeria</h1>
<p>Se encargara del login y el register</p>
<p>Tienes libertad creativa</p>
<ul>
	<li>Diseño del login y register</li>
	<li>Logica de guardar datos</li>
	<li>Logica de comparar datos para iniciar sesion</li>
	<li>Implementar base de datos</li>
	<li>Comparar si el que entra es un cliente o un empleado</li>
	<li>Cuando termines estas tareas te pongo mas</li>
</ul>

<h1>Tareas para Wilmer</h1>
<p>Se encargara de la pagina de empleados</p>
<p>Tienes libertad creativa</p>
<ul>
	<li>Diseño de la pagina</li>
	<li>Implementar el consultar pedidos</li>
	<li>Implementar el Consutar inventario</li>
	<li>Implementar el Ingresar productos al inventario</li>
	<li>---------------</li>
	<li>La parte de finanzas dejala para despues eso luego lo hacemos</li>
</ul>
<p>Guiense del canva si se sienten perdidos</p>
<p>Tambien me pueden preguntar y yo les doy el impulso que necesiten</p>
<p>Los colores lo deciden ustedes yo estare trabajando con blanco y negro de mientras</p>
<p>Recuerden hacer los commit -m "con los comentarios explicitos" (eso es de git) </p>
<p>Suerte, no les metere presion</p>