@page "/"

<PageTitle>Instrucciones</PageTitle>

<h1>Tareas para el sistema:</h1>

Usaremos MySQL si es posible, si no, SQLite 
ok
<ul>    
    <h3>Valeria:</h3>
    <li>Hará el login</li>
    <li>Registro</li>
    <li>Que el admin tenga un usuario y que lo pueda cambiar después</li>
    <li>Validar quien entra y quién no</li>
    <li>Las tablas del login</li>
    <li>Los roles</li>
    <li>admin: tiene todas las funciones</li>
    <li>vendedora: solo puede consultar los productos</li>
    <li>Bajo ningún motivo la vendedora podrá tocar ni ver las finanzas</li>
    
    <h3>Wilmer:</h3>
    <li>La gestión de inventario</li>
    <li>Ingresar datos</li>
    <li>Pedir datos</li>
    <li>Filtrar datos</li>
    <li>Las tablas de los productos</li>
    <li>Tareas comunitarias:</li>
    <li>Crear Home</li>
    <li>Hacer módulo de pedidos</li>
    <li>Hacer gráfica de cuantos productos hay</li>
    
    <h3>(Opcional)</h3>
    <li>datos históricos de productos de otros meses, trimestre, semestre y anuales</li>
    
    <h3>Recordatorio:</h3>
    <li>Intentar hacer todo en 1 página máximo 2</li>
    
    <h3>Aníbal:</h3>
    <li>Apoyar a ambos en cualquier tema</li>
    <li>Hacer el módulo de finanzas</li>
    <li>Egreso y Ingresos</li>
    <li>Reportes anuales, semestrales, trimestral y mensual</li>
    <li>Gráficas</li>
    <li>Automatizar cálculos de pagos</li>
    <li>Crear el proyecto</li>
    <li>hacer las tablas de finanzas</li>
</ul>

<a href="/login">ir al login</a>

@code{
    
}
