@page "/"

<PageTitle>Home</PageTitle>

<NavMenu/>
<section>
	<div class="list-money">
	</div>
	<div class="tools">
		<p>Ingresar Ingreso/Egreso</p>
		<p>Exportar a Excel</p>
		<p>Analisis Personal de Gastos</p>
		<p>Calendario de Gastos</p>
		<p>Modo Ahorro</p>
		<p>DashBoard</p>
		<p>Historial</p>
		<p>Logros</p>
	</div>
</section>
	<table>
			<tr>
				<th>Contexto</th>
				<th>Ingreso</th>
				<th>Monto</th>
				<th>Metodo</th>
				<th>F. Inicio</th>
				<th>F. Fin</th>
			</tr>
			<tr>
				<td>Trabajo</td>
				<td>Ingreso</td>
				<td>100$</td>
				<td>Transferencia</td>
				<td>23-09-2025</td>
				<td>23-09-2025</td>
			</tr>
			<tr>
				<td>Viveres</td>
				<td>Egreso</td>
				<td>-30$</td>
				<td>Punto</td>
				<td>24-09-2025</td>
				<td>24-09-2025</td>
			</tr>
			<tr>
				<td>Trabajo Ince</td>
				<td>Ingreso</td>
				<td>20$</td>
				<td>Transferencia</td>
				<td>30-09-2025</td>
				<td>30-09-2025</td>
			</tr>
		</table>

@code
{

}