@namespace MSistema_de_Control_de_Finanzas.Components.Shared

<nav>
	<ul>
		<li class="name"><a href="/">Name</a></li>
		<li class="options"><p>Option 1</p></li>
		<li class="options"><p>Option 2</p></li>
		<li class="options"><p>Option 3</p></li>
		<li class="options"><p>Option 4</p></li>
	</ul>
</nav>

@code {

}
